<HeadContent>
    <style>
        .billing-data > * {
            text-align: center;
        }

        .border-2px {
            border: 2px solid black;
        }
    </style>
</HeadContent>
<div class="billing-data">
    @if (_billingData is not null)
    {
        <h2>@($"{_billMonth:MMMM yyyy}")</h2>

        <div style="margin-top: 3rem;display: flex; justify-content: center; align-items: flex-start; gap: 100px;">
            @foreach (var item in _mainItems)
            {
                <table width="250px">
                    @if (_billingData!.BillingItems.FirstOrDefault(x => x.Name.Equals(item, StringComparison.InvariantCultureIgnoreCase)) is { } billingItemDto)
                    {
                        <thead class="border-2px">
                        <tr style="padding: 3px">
                            <td colspan="2">
                                <strong>@item</strong>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var date in Enumerable.Range(0, _noOfDays).Select(i => new DateOnly(_billingData.Year, _billingData.Month, i + 1)))
                        {
                            <tr>
                                <td width="150px">@($"{date:dd-MMM-yyyy}")</td>
                                <td width="100px">
                                    @if (billingItemDto.BillingItemDictionary.ContainsKey(date))
                                    {
                                        <span>@billingItemDto.BillingItemDictionary[date]</span>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot class="border-2px">
                        <tr>
                            <td>Total</td>
                            <td>@billingItemDto.TotalCount</td>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>@billingItemDto.Rate</td>
                        </tr>
                        <tr class="border-2px">
                            <td colspan="2"><strong>@billingItemDto.TotalAmt</strong></td>
                        </tr>
                        </tfoot>
                    }
                </table>
            }
        </div>

        @foreach (var item in _itemsOtherThanMain)
        {
            <div style="margin-top: 5rem; display: flex; justify-content: center; align-items: flex-start; gap: 100px;">
                
            </div>
        }
    }
</div>
